#catalogo-filmes {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color-conteudo-amarelo);
    border-radius: 15px;
    padding: 10px 50px;
    margin: 30px 0px;
    box-shadow: 3px 3px 5px 0;
}


.div-filme {
    min-height: 200px;
    width: 20%;
    border: 4px solid #d00000;
    margin: 1.5%;
    background-color: #03071e;
}

.div-filme:nth-child(4n) {
    margin-right: 0px;
}

.div-filme:nth-child(4n+1) {
    margin-left: 0px;
}


.imagem-cartaz {
    height: 144px;
    width: 100%;
    
}

.titulo-filme {
    text-align: center;
    font-weight: bold;
    color: #fff;
    
}

@media screen and (max-width: 720px){

    #catalogo-filmes {
        flex-direction: column;
    }

    .div-filme {
        height: auto;
        width: auto;
    }

    .imagem-cartaz {
        height: auto;
        width: 100%;
    }

    .titulo-filme {
        height: 60px;
        text-align: center;
        padding-top: 10px;
    }

    
}